/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  /* --nav-width: 68px; */
  --nav-width: 90px;
 
  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
   
  /*===== Font and typography =====*/ 
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;  
  /* margin: var(--header-height) 0 0 0; */
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
 
a{
  text-decoration: none;
}

h1 {
  padding-top: 0px; 
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  /* padding: 0 1rem; */
  background-color: var(--white-color);
  z-index: var(--z-fixed); 
  transition: .5s;
  margin-left: 150px; 
  /* padding: 16px;  */
}

.content {
  margin-left: 250px;
  margin-top: 10px;   
  /* padding: 16px;  */
} 


.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
} 

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
/* .body-pd{   
  padding-left: calc(var(--nav-width) + 1rem);
} */

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  /* body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  } */

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  .show{ 
    width: calc(var(--nav-width) + 156px); 
  }

  /* .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  } */
} 

/* Data table */
.data_table{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}

.data_table .btn{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 80px; 
}

.data_table th {
  background-color: #6a4ae9; 
  border-color: #380aee;
}

.data_table .dt-buttons .btn {
  background-color: #007bff; 
  border-color: #007bff;
}


.temp {
  background-color: #d2c7ff; 
}


/* ------------ student-monitoring.css --------- */
.container1 {  
  width: 1220px; 
  padding: 20px;  
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  display: block;
}
label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

select {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  width: calc(50% - 7px); 
  padding: 10px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

#generateQR {
  float: left;
}
#clear {
  float: right;
}

#qrcode {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.qrcodePlacement {
  margin-top: 10px;
}

.expire-button{
  background-color: #c20000;
}

.expire-button:hover {
  background-color: #780808;
}

.expire-container{
  justify-content: center;
}

.table-container {
  padding: 20px;
  margin: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #fff;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

 
.label-container{  
  padding-bottom: 20px;
}

.button-container { 
  margin-top: 10px;
} 

.content { 
  margin-left: 250px; 
  padding: 16px; 
}

.datatable-result{
  padding-top: 10px;
} 

td a:hover {
  text-decoration: underline; 
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}


.popup {
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 1220px; 
  /* max-width: 80%; */
  /* max-height: 80%; */
  overflow: auto; /* Enable scrolling if the content overflows */
  border: 1px solid #ccc; 
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.label-container2 {
  display: flex;
  justify-content: center; /* Horizontally center contents */
  align-items: center; /* Vertically center contents */
  margin-bottom: 20px; /* Add space below the container */
  text-align: center; /* Center text within the container */
}

.label-container2 label {
  /* margin-right: 10px; Add spacing between label and text */
  font-weight: bold; /* Optionally make the label bold */
}


.button-attendance:hover, 
.button-attendance:focus {
  background-color: #4723D9;
  color: white;
}
 
.button-attendance.highlight { 
  background-color: #4723D9;
  color: white;
}

.button-attendance:not(.highlight) { 
  background-color: #a08af8;
  border: 1px solid #ddd; 
} 
  
.button-attendance:not(.highlight):hover {  
  background-color: #4723D9;
}

button .button-attendance {
  width: calc(50% - 7px); 
  padding: 10px;
  background-color: #4723D9; 
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.studentID-input{ 
  width: 99%;
}


.general-use-container{
  width: 1220px; 
  padding: 20px;  
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  display: block;
  margin-bottom: 10px;

}

.search-button{
  width: 100px;
}  


.container2{
  width: 1220px; 
  padding: 20px;  
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  display: block; 
}

.flag-result{
  padding-top: 20px; 
}  


 
#flagChart{
  margin-left: 350px;
}


input{
  width: 100%;
}


.container3 {
  width: 1220px;  
  padding: 20px;
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 520px; 
}


#live-time {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Cooper', sans-serif; 
}

#liveDate {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Cooper', sans-serif; 
}

.module-count {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Cooper', sans-serif; 
}

.header--title{
  color:rgba(113,99,186,255);
  padding-bottom: 10px;
  font-size: 15px;
}

.student-count {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Cooper', sans-serif; 
}

.main--content{
  position: relative;
  background-color:white;
  width: 100%;
  padding:1rem;
}

.header--wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color:white;
  border-radius: 10px;
  padding: 5px 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header--wrapper img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.card-container{
  margin-top: 1rem;
  background: white;
  padding:2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card--wrapper{
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
}

.main-title{
  color:rgba(113,99,186,255);
  padding-bottom: 10px;
  font-size: 15px;
}

.dash--card{
  background:white;
  border-radius: 10px;
  padding: 1.2rem;
  width: 252px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dash--card:hover{
  transform:translateY(-5px);
}

.card--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount{
  display: flex;
  flex-direction: column;
}

.main--title{
  color:rgba(113,99,186,255);
  padding-bottom: 10px;
  font-size: 25px;
}
.title{
  font-size: 12px;
  font-weight: 200;
}

.amount-value{
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.icon{
  color: white;
  padding: 1rem;
  height: 45px;
  width:45px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.light-red{
  background: rgb(251,233,233);
}

.light-purple{
  background: rgb(254,226,254);
}

.light-green{
  background: rgb(235,254,235);
}

.light-blue{
  background: rgb(236,236,254);
}

.tabular-wrapper{
  background: white;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

.table--container{
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background:#6a4ae9;
  color: white;
}

th{
  padding:15px;
  text-align: left;
}

tbody{
  background: #f2f2f2;
}

td{
  padding: 15px;
  font-size: 17px;
  color: #333;
}

tr:nth-child(even){
  background: white;
}

tfoot{
  background: rgba(113,99,186,255);
  font-weight: bold;
  color: white;
}

tfoot td{
  padding: 15px; 
}

input[type="checkbox"]{
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-icons {
  font-size: 30px; /* Adjust the icon size */
  color: #333; /* Adjust icon color */
  margin-right: 10px; /* Add some space between the icon and other elements */
}

.admin--card{
  background:white;
  border-radius: 10px;
  padding: 1.2rem;
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.admin--card:hover{
  transform:translateY(-5px);
}
.admin-wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.admin-wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.admin-wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.admin-wrapper i:first-child{
  left: -22px;
}
.admin-wrapper i:last-child{
  right: -22px;
}
.admin-wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .admin-card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.admin-card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .admin-card {
  scroll-snap-align: start;
  height: 300px;
  list-style: none;
  background:white;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.carousel .admin-card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.admin-card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .admin-card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .admin-card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  } 
}  


.label-container3{
  display: block;
  text-align: center;
  font-size: large;
}