<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="css/styles.css"> 

        <title>Attendance Management System</title>
    </head>   
    <body id="body-pd">
        
        <div class="content" id="main-content">  
            <h1>Page admin</h1>
            <h1><%= user.email %></h1>      
        </div>

        <div class="l-navbar" id="nav-bar"> 
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <span class="nav__logo-name">Admin</span>      
                    </a>
 
                    <div class="nav__list">
                        <a href="#" class="nav__link active"> 
                        <i class='bx bxs-dashboard  nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bxs-calendar-alt nav__icon' ></i>
                            <span class="nav__name">Monitor Attendance</span>
                        </a>
                         
                        <a href="#" class="nav__link">
                            <i class='bx bx-columns nav__icon' ></i>
                            <span class="nav__name">Manage Course Roster</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bxs-flag nav__icon' ></i>
                            <span class="nav__name">Flagging Feature</span>
                        </a> 

                        <a href="#" class="nav__link">
                            <i class='bx bx-envelope  nav__icon' ></i>
                            <span class="nav__name">Email System</span>
                        </a>

                        <a href="#" class="nav__link"> 
                            <i class='bx bxs-report nav__icon' ></i>
                            <span class="nav__name">Report</span>  
                        </a>  

                        <a href="#" class="nav__link"> 
                            <i class='bx bx-cog nav__icon' ></i>
                            <span class="nav__name">Settings</span>  
                        </a> 
                    </div>
                </div> 
 
                <a href="/logout" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i> 
                    <span class="nav__name">Log Out</span>
                </a>
            </nav> 
        </div>
 
        
        <!--===== MAIN JS =====-->
        <script src="js/main.js"></script>

        <script>
            // Immediately show the sidebar without requiring any click event
            const navBar = document.getElementById('nav-bar'); 
            if (navBar) {
                navBar.classList.add('show');
            }

            var userEmail = "<%= user.email %>";
            console.log(userEmail);

        </script>

    </body>
</html> 